@media (min-width: 790px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #121214;
        width: auto;
    }
    
    .wraper {
        margin-top: 70px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .v-container {
       position: relative;
    }
    
    .control {
        position: absolute;
        width: 3.90625%;
        height: 100%;
        bottom: 0;
        text-align: center;
        display: none;
    
        
       
        margin-left: 0.1953125%;
       
    }
    
    .control > *:first-child {
        margin-left: 15%;
    }
    
    .control  {
        cursor: pointer;
        width: 75.390625%;
    }
    
    .btn {
        position: relative;
        width: 3em;
        white-space: normal;
        padding: .6em;
        border: 2px solid white;
        margin-left: 1em;
        margin-right: 1em;

        border-radius: 50%;

        top: 100%;
        transform: translateY(-134%);
    }

    video {
        width: 560px;
        max-width: 100%;
        aspect-ratio: 16 / 9;
    }
}

@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #121214;
    }
    

    .wraper {
        margin-top: 70px;
        margin-bottom: 20px;

        position: absolute;

        display: flex;

        justify-content: center;

    }
    .v-container {
       position: relative;
    }
    
    .control {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        text-align: center;
        display: none;
       
    }
    

    
    .control  {
        cursor: pointer;
        width: 100%;
    }
    
    .btn {
        position: relative;
        white-space: normal;
        width: 39px;
        padding: 3px;
        border: 2px solid white;
        border-radius: 50%;

        top: 100%;
        transform: translateY(-174%);
    }

    video {
        width: 560px;
        max-width: 100%;
        aspect-ratio: 16 / 9;
    }
}

@media (max-width: 420px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #121214;
    }
    

    .wraper {
        margin-top: 70px;
        margin-bottom: 20px;

        position: absolute;

        display: flex;

        justify-content: center;

    }
    .v-container {
       position: relative;
    }
    
    .control {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        text-align: center;
        display: none;
       
    }

    .control  {
        cursor: pointer;
        width: 100%;
    }
    
    .btn {
        position: relative;
        width: 34px;
        margin-right: 19px;
        padding: 4px;
        border: 2px solid white;
        margin-left: .26em;
        align-items: left;
        border-radius: 50%;

        top: 100%;
        transform: translateY(-174%);
    }

    video {
        width: 560px;
        max-width: 100%;
        aspect-ratio: 16 / 9;
    }
}
